.donationCardInfo{
    background-color: white;
    border-radius: 15px;
    box-shadow: 1px 10px 40px 10px darkslategray;
}

.donation{
    background-image: url('../../../images/donateBg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 500px;
    padding: 15px;
}
