.quranCardInfo{
    background-color: teal;
    border-radius: 15px;
    box-shadow: 1px 10px 40px 10px darkslategray;
    opacity: 0.9;
    height: 400px;
}
.quran{
    background-image: url('../../../images/quranBg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 20px;
}
