.prayerTimeBg {
    background-image: url('../../../images/PrayerTimeBg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 400px;
    padding: 35px;
}
