.fastingTimeBg {
    background-image: url('../../../images/fastingTimeBg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 550px;
    padding: 15px;
}
