.fastingTimeBg {
    background-image: url('https://img.pngio.com/islamic-background-islamic-background-islamic-background-png-islamic-background-png-1920_1080.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 500px;
    padding: 15px;
}
